<br>
<mat-card class="mat-elevation-z0">
  <mat-card-title class="big">
    {{"ABOUT.ABOUT_HEADER" | translate}}
  </mat-card-title>
  <mat-card-content>
    <div fxLayout="row">
      <div fxFlex="80%">
        <h3>{{"ABOUT.ABOUT_TITLE1" | translate}}</h3>
        <p>{{"ABOUT.ABOUT_DESC1" | translate}}</p>
        <h3>{{"ABOUT.ABOUT_TITLE2" | translate}}</h3>
        <p>{{"ABOUT.ABOUT_DESC2" | translate}}</p>
        <h3>{{"ABOUT.ABOUT_TITLE3" | translate}}</h3>
        <p>{{"ABOUT.ABOUT_DESC3" | translate}}</p>
      </div>
      <img height="400px" src="../../assets/images/about.jpg">
    </div>
  </mat-card-content>
</mat-card>
