<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="small toolbar">
  <mat-icon>email</mat-icon>advbaburam@gmail.com  &nbsp;&nbsp; | &nbsp;&nbsp;
  <mat-icon>location_on</mat-icon>{{"NAVIGATION.LOCATION" | translate}} &nbsp;&nbsp; | &nbsp;&nbsp;
  <mat-icon>call</mat-icon> {{"NAVIGATION.CONTACT_NUMBER" | translate}} &nbsp;&nbsp;
  <span fxFlex></span>
  <mat-icon>language</mat-icon>
  <div class= "lang"
      [ngClass]="translate.currentLang == 'en' ? 'activeLang' : 'inactiveLang'"
      (click)="translate.use('en')">
    English
  </div>
    &nbsp;&nbsp; | &nbsp;&nbsp;
  <div class = "lang"
      [ngClass]="translate.currentLang == 'ne' ? 'activeLang' : 'inactiveLang'"
      (click)="translate.use('ne')">
    नेपाली
  </div>
</mat-toolbar>
<mat-toolbar fxLayout="row" class="main toolbar mat-elevation-z1">
  <div fxFlex="20">
      <img height=76 src="../assets/images/logo_inverted_{{translate.currentLang}}.png">
  </div>
  <div fxFlex></div>
  <div fxFlex class="navlinks">
      <button [routerLinkActive]="'active'" [routerLink]="'/home'" mat-button>
        {{"NAVIGATION.HOME" | translate}}
      </button>
      <button mat-button [routerLinkActive]="'active'" [routerLink]="'/about'">
        {{"NAVIGATION.ABOUT" | translate}}
      </button>
      <button mat-button [routerLinkActive]="'active'" [routerLink]="'/sectors'">
        {{"NAVIGATION.SECTORS" | translate}}
      </button>
      <button mat-button [routerLinkActive]="'active'" [routerLink]="'/team'">
        {{"NAVIGATION.OUR_TEAM" | translate}}
      </button>
      <button mat-button [routerLinkActive]="'active'" [routerLink]="'/gallery'">
        {{"NAVIGATION.GALLERY" | translate}}
      </button>
      <button mat-button [routerLinkActive]="'active'" [routerLink]="'/blog'">
        {{"NAVIGATION.BLOG" | translate}}
      </button>
      <button mat-button [routerLinkActive]="'active'" [routerLink]="'/contact'">
        {{"NAVIGATION.CONTACT" | translate}}
      </button>
      <button [routerLink]="'/consultation'" class="consult_btn" mat-raised-button color="accent">
        {{"NAVIGATION.FREE_CONSULTATION" | translate}}
      </button>
  </div>
</mat-toolbar>
<!-- Body Starts Here -->
<div id = "main-content">
  <router-outlet></router-outlet>
</div>
<br>
<mat-toolbar color="secondary" class="footer top mat-elevation-z1">
  <div style="width:100%"fxLayout="row">
    <div fxFlex="18%">
      <h1 class="title">{{"FOOTER.CONTACT_DETAILS_HEADER" | translate}}</h1>
      <hr>
      <p fxLayoutAlign="start center">
        <mat-icon>location_on</mat-icon>{{"NAVIGATION.LOCATION" | translate}}
      </p>
      <p fxLayoutAlign="start center">
        <mat-icon>call</mat-icon> {{"NAVIGATION.CONTACT_NUMBER" | translate}}
      </p>
      <p fxLayoutAlign="start center">
        <mat-icon>email</mat-icon>advbaburam@gmail.com
      </p>
    </div>
    <div fxFlex="5%"></div>
    <div fxFlex="18%">
      <h1 class="title">{{"FOOTER.LOCATION_MAP_HEADER" | translate}}</h1>
      <hr>

    </div>
    <div fxFlex="5%"></div>
    <div fxFlex="18%">
      <h1 class="title">{{"FOOTER.OFFICE_HOURS_HEADER" | translate}}</h1>
      <hr>
      <p fxLayoutAlign="start center">
        <mat-icon>access_time</mat-icon>{{"FOOTER.OFFICE_HOURS_TIME" | translate}}
      </p>
      <p fxLayoutAlign="start center">
        <mat-icon>calendar_today</mat-icon>{{"FOOTER.OFFICE_HOURS_DAYS" | translate}}
      </p>
    </div>
  </div>
</mat-toolbar>
<mat-toolbar color="primary" class="footer bottom mat-elevation-z1">
    <p fxLayoutAlign="start center">
      {{"FOOTER.COPYRIGHT_TEXT" | translate}} &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;
      {{"FOOTER.DISCLAIMER_TEXT" | translate}}
    </p>
</mat-toolbar>

