<br>
<mat-card class="mat-elevation-z0">
    <mat-card-title class="big">
      {{"TEAM.TEAM_HEADER" | translate}}
    </mat-card-title>
    <mat-card-content>
      <p>{{"TEAM.TEAM_INTRO" | translate}}</p>
      <div fxLayout="row wrap" fxLayoutAlign="start start">
        <mat-card class="member">
          <img width="120px" mat-card-image src="../../assets/images/baburam.jpg" alt="Baburam Dahal">
          <mat-card-header>
            <mat-card-title>{{"TEAM.TEAM_MEMBER1_NAME" | translate}}</mat-card-title>
            <mat-card-subtitle>{{"TEAM.TEAM_MEMBER1_TITLE" | translate}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{"TEAM.TEAM_MEMBER1_DESC" | translate}}</p>
          </mat-card-content>
        </mat-card>

      </div>
    </mat-card-content>
  </mat-card>
