$md-mkprimary: (
    50 : #e8e9eb,
    100 : #c6c7ce,
    200 : #a1a2ad,
    300 : #7b7d8c,
    400 : #5e6174,
    500 : #42455b,
    600 : #3c3e53,
    700 : #333649,
    800 : #2b2e40,
    900 : #1d1f2f,
    A100 : #767fff,
    A200 : #4350ff,
    A400 : #1020ff,
    A700 : #0010f6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-mksecondary: (
    50 : #f8f6f3,
    100 : #ede9e0,
    200 : #e1dbcb,
    300 : #d4ccb6,
    400 : #cbc1a7,
    500 : #c2b697,
    600 : #bcaf8f,
    700 : #b4a684,
    800 : #ac9e7a,
    900 : #9f8e69,
    A100 : #ffffff,
    A200 : #fff6e2,
    A400 : #ffe6af,
    A700 : #ffde96,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mkerror: (
    50 : #f3e0e0,
    100 : #e0b3b3,
    200 : #cc8080,
    300 : #b84d4d,
    400 : #a82626,
    500 : #990000,
    600 : #910000,
    700 : #860000,
    800 : #7c0000,
    900 : #6b0000,
    A100 : #ff9a9a,
    A200 : #ff6767,
    A400 : #ff3434,
    A700 : #ff1a1a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$cursive_font: 'Amaranth', sans-serif;
